fullnameOverride: "prometheus"

# defaultRules:
# create: true
# rules:
#   alertmanager: true
#   etcd: true
#   configReloaders: true
#   general: true
#   k8s: true
#   kubeApiserverAvailability: true
#   kubeApiserverBurnrate: true
#   kubeApiserverHistogram: true
#   kubeApiserverSlos: true
#   kubelet: true
#   kubeProxy: true
#   kubePrometheusGeneral: true
#   kubePrometheusNodeRecording: true
#   kubernetesApps: true
#   kubernetesResources: true
#   kubernetesStorage: true
#   kubernetesSystem: true
#   kubeScheduler: true
#   kubeStateMetrics: true
#   network: true
#   node: true
#   nodeExporterAlerting: true
#   nodeExporterRecording: true
#   prometheus: true
#   prometheusOperator: true

# alertmanager: 
#   fullnameOverride: alertmanager
#   enabled: true
#   ingress:
#     enabled: false

grafana:
  enabled: true
  fullnameOverride: grafana
  forceDeployDatasources: false
  forceDeployDashboards: false
  defaultDashboardsEnabled: true
  defaultDashboardsTimezone: utc
  adminUser: admin
  adminPassword: admin123
  serviceMonitor:
    enabled: true
  service:
    enabled: true
    nodePort: 30030
    type: NodePort
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://prometheus-prometheus.monitoring.svc.cluster.local:9090
          isDefault: true
          editable: true
  persistence:
    type: pvc
    enabled: true
    # storageClassName: default
    volumeName: "grafana-pv"
    accessModes:
      - ReadWriteOnce
    size: 2Gi
    finalizers:
      - kubernetes.io/pvc-protection
    existingClaim: "grafana-pvc"
    extraPvcLabels: {}
    disableWarning: false
  # admin:
  #   existingSecret: grafana-admin-credentials
  #   userKey: admin-user
  #   passwordKey: admin-password

kubeApiServer:
  enabled: true

kubletet:
  enabled: true
  serviceMonitor:
    metricRelabelings:
      - action: replace
        sourceLabels:
          - none
        targetLabel: instance

# kubeControllerManager:
#   enabled: true
#   endpoints:
#     - 172.19.202.201

coreDns:
  enabled: true

kubeDns:
  enabled: false

# kubeEtcd:
#   enabled: true
#   endpoints:
#     - 172.19.202.201
#   service:
#     enabled: true
#     port: 2381
#     targetPort: 2381

# kubeScheduler:
#   enabled: true
#   endpoints:
#     - 172.19.202.201

# kubeProxy:
#   enabled: true
#   endpoints:
#     - 172.19.202.201

kubeStateMetrics:
  enabled: true

# nodeExporter:
#   enabled: true
#   operatingSystems:
#     linux:
#       enabled: true

# # prometheus-node-exporter:
# #   namespaceOverride: ""
# #   podLabels:
# #     ## Add the 'node-exporter' label to be used by serviceMonitor and podMonitor to match standard common usage in rules and grafana dashboards
# #     ##
# #     jobLabel: node-exporter
# #   releaseLabel: true
# #   extraArgs:
# #     - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run/containerd/.+|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
# #     - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs|erofs)$
# #   service:
# #     portName: http-metrics
# #     ipDualStack:
# #       enabled: false
# #       ipFamilies: ["IPv6", "IPv4"]
# #       ipFamilyPolicy: "PreferDualStack"
# #     labels:
# #       jobLabel: node-exporter

# #   prometheus:
# #     monitor:
# #       enabled: true

# prometheusOperator:
#   enabled: true

prometheus:
  enabled: true
  fullnameOverride: prometheus
  service:
    enabled: true
    nodePort: 30090
    type: NodePort


